@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* colores */
$dark-blue-100: #60d48a;
$dark-blue-200: #4ea935;
$dark-blue-300: #0a7119;
$dark-blue-400: #076114;
$dark-blue-500: #055119;

$light-blue-100: #f3fcf5;
$light-blue-200: #effaf2;
$light-blue-300: #e9f8ee;
$light-blue-400: #aad5ba;
$light-blue-500: #76b275;

$gray-100: #CED4DA;
$gray-200: #ADB5BD;
$gray-300: #868E96;
$gray-400: #495057;
$gray-500: #343A40;

$white: #FFFFFF;

/* Fonts */
$font: 'Inter', sans-serif;
